.htmx-indicator{
  opacity:0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
  opacity:1;
}
.htmx-request.htmx-indicator{
  opacity:1;
}

.card {
  --bulma-card-shadow: none;
  border-width: 1px !important;
  border-color: var(--bulma-text) !important;
  border-style: solid !important;
}